* {
  /*box-sizing: border-box;*/
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 10%;
  background: transparent;
}

.logo {
  cursor: pointer;
  /*margin-right: auto;*/
  margin-top: 5%;
}
.title {
  margin-right: auto;
  display: inline;
  /*    align-items: center;
    align-content: center;
    alignment-baseline: central;*/
}
#title-text {
  color: #ffffff;
  /*font-family: "Montserrat", sans-serif;*/
  /*text-decoration-color: #ffffff;*/
  font-size: 50px;
  font-weight: bold;
  margin-top: 20px;
}

li,
a,
button {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
}

nav ul li {
  display: inline-block;
  padding: 0px 40px;
}

nav ul li a {
  transition: all 0.3s ease 0s;
}

nav ul li a:hover {
  color: #000;
  transition: all 0.5s ease 0s;
}

header > button {
  padding: 9px 25px;
  background-color: #599712;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

header > button:hover {
  background-color: rgba(255, 25, 25, 0.8);
}

/* Content */
.wrapper {
  background: url("../images/bg2.jpg") no-repeat center center / cover;
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
}

.wrapper:before {
  position: absolute;
  content: "";
  background-image: linear-gradient(
    to right,
    rgba(10, 48, 46, 1),
    rgba(17, 104, 116, 0.9),
    rgba(55, 150, 194, 0.9),
    rgba(11, 152, 170, 0.85),
    rgba(18, 48, 214, 0.95)
  );
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.content {
  display: flex;

  padding-inline: 50px;
  justify-content: space-between;
  color: #ffffff;
}
.hero-info {
  margin-top: 10%;
  display: flex;
  -ms-flex-align: center;
  flex-direction: column;
  align-items: flex-start;
}
.hero-info h1 {
  font-size: 40px;
}

.hero-info p {
  margin: 30px 0;
  font-weight: 400;
  line-height: 2;
}

.locale {
  animation-name: colorChange;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-outline {
  border-radius: 30px;
  color: #ffffff;
  border-color: #ffffff;
  padding: 12px 30px;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.btn-outline:hover {
  background: #ffffff;
  color: #fa2828;
}
.main-image {
  /* display: inline; */
  margin-bottom: 5%;
  /* position: relative; */
  /* width: 50px;
  height: auto; */
  /* background: url("../images/bg2.jpg") no-repeat center center / cover; */
}
.main-image img {
  width: 400px;
}

/* i.fa {
  margin-right: 10px;
} */
.social-links {
  position: inherit;
  /* display: flex; */
  padding: 80px 10%;
  /* justify-content: space-between; */
  padding: 20px;
  /* margin-top: 140px; */
}

.social-links ul {
  list-style: none;
  display: flex;
  /* justify-content: space-between; */
}

.btn-social {
  padding: 9px 25px;
  border: none;
  border-radius: 70px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.bg-facebook {
  background-color: #4267b2;
}

.bg-youtube {
  background-color: #ff0000;
}

.bg-instagram {
  background-color: #fc52b2;
}

.bg-twitter {
  background-color: #5fb3e4;
}
